<h1>Welcome to your Cookbook</h1>

<p></p>

<ul>
  <% @recipes.each_with_index do |recipe, index| %>
    <li><%= recipe.name %>: <%= recipe.description %> <a href="/recipes/<%= index %>">Delete</a></li>
    <p> Rating: <%= recipe.rating %></p>
  <% end %>
</ul>

<a href="/new">Add a recipe</a>
